.account .list-view{
    -fx-background-color: transparent;
    -fx-background-radius: 10;
    -fx-border-color: transparent;
    -fx-padding: 0;

}

.account .list-view .list-cell{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 8 10 8 10;
}
.account .list-view .list-cell:filled .user{
    -fx-background-color: -color-bg-default-90;
    -fx-background-radius: 10;
    -fx-padding: 10;

}

.account .list-view .list-cell:empty .user{
    -fx-background-color: transparent;

}
.account .list-view .list-cell .user-label{
    -fx-font-size: 12;
}

.account .list-view .list-cell .role-label{
    -fx-text-fill: -color-fg-subtle;
    -fx-font-size: 10;
}
.list-view .list-cell .delete-btn{
    -fx-padding: 2;
}
