.plugin .plugin-cell {
    -fx-background-color: -color-bg-default-30;
    -fx-background-radius: 6px;
    -fx-padding: 10px;
}
.plugin .plugin-cell:hover {
    -fx-opacity: 0.8;
    -fx-cursor: hand;
}
