.game-download-view .title-3 {
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
}

.game-download-view .title-4 {
    -fx-font-weight: bold;
}

.game-download-view .text-subtle {
    -fx-text-fill: -color-fg-subtle;
}

.game-download-view .input-group {
    -fx-background-color: -color-base-1;
    -fx-background-radius: 6;
    -fx-border-color: -color-border-muted;
    -fx-border-radius: 6;
}