.game-setting{
}
.game-setting .title-4{
    -fx-font-weight: bold;
}
.game-setting .scroll-bar{
    -fx-background-color: transparent;
    -fx-opacity: 1;
}
.game-setting .scroll-bar:vertical .thumb{
    -fx-background-color: transparent;
    -fx-background-insets: 0.071em; /* 1px */
}
.game-setting:hover .scroll-bar:vertical .thumb{
    -fx-background-color: -color-bg-default-60;
}


.game-setting .tip{
    -fx-font-size: 0.857em; /* 12px */
    -fx-text-fill: -color-font-muted;
    -fx-padding: 0 0 0.714em 0; /* 10px */
}
.game-setting .left{

}
.game-setting .left .radio-button{
    -fx-background-color: transparent;
}



.game-setting .left .title-3{
    -fx-padding: 0 0 0.357em 0; /* 25px 0 5px 0 */
}

.game-setting .left  .title-4 {
    -fx-font-size: 1.05em;
    -fx-font-weight: normal;
}

.game-setting .left .input-group{
    -fx-background-radius: 1.429em; /* 20px */
    -fx-padding: 0.357em 0.714em 0.357em 0.714em; /* 5px 10px */
    -fx-background-color: -color-bg-default-60;
}
.game-setting .left .input-group >.text-field{
    -fx-background-color: transparent;
    -fx-padding: 0 2.85em 0 0; /* 0 40px 0 0 */
}
.game-setting .left .input-group:hover{
    -fx-background-color: -color-bg-default-90;
}
.game-setting .left .input-group > .button{
    -fx-background-color: transparent;
    -fx-padding: 0.35em; /* 5px */
}
.game-setting .left .input-group > .button:hover .ikonli-font-icon{
    -fx-icon-color: -color-accent-emphasis;
}

.game-setting .left .param-list-view{
    -fx-background-color: -color-bg-default-40;
    -fx-background-radius: 0.57em; /* 8px */
    -fx-border-color: transparent;
}
.game-setting .left .param-list-view .list-cell{
    -fx-padding: 0.14em 0.14em 0.14em 0; /* 2px */
}
.game-setting .left .param-list-view .list-cell,
.game-setting .left .param-list-view .list-cell:selected{
    -fx-background-color: transparent;
}

.game-setting .left .param-list-view .list-cell .delete-btn:hover{
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.game-setting .left .param-list-view .list-cell .delete-btn .ikonli-font-icon {
    -fx-icon-color: -color-fg-default;
    -fx-fill: -color-fg-default;
    -fx-icon-size: 18px;
}

.game-setting .left .param-list-view .list-cell .delete-btn:hover .ikonli-font-icon{
    -fx-icon-color: -color-danger-fg;
    -fx-fill: -color-danger-fg;
}

.game-setting .left .param-list-view .scroll-bar{
    -fx-background-color: transparent;
    -fx-opacity: 1;
}
.game-setting .left .param-list-view .scroll-bar:vertical .thumb{
    -fx-background-color: transparent;
    -fx-background-insets: 0.071em; /* 1px */
}
.game-setting .left .param-list-view:hover .scroll-bar:vertical .thumb{
    -fx-background-color: -color-bg-default-30;
}

.game-setting .right{

}
.game-setting .right .func-btn{
    -fx-background-color: -color-bg-default-60;
}
