.redemption-code .list-view {
    -fx-background-color: transparent;
    -fx-background-radius: 10px;
    -fx-border-color: transparent;
    -fx-padding: 0;
}

.redemption-code .list-view .list-cell {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 4px 8px 4px 8px;
}

.redemption-code .list-view .list-cell:filled .code-item {
    -fx-background-color: -color-bg-default-90;
    -fx-background-radius: 10px;
    -fx-padding: 10px;
}

.redemption-code .list-view .list-cell:filled .code-item.invalid {
    -fx-opacity: 0.55;
}

.redemption-code .list-view .list-cell:empty .code-item {
    -fx-background-color: transparent;
}

.redemption-code .code-label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.redemption-code .reward-label {
    -fx-font-size: 12px;
}

.redemption-code .time-label {
    -fx-font-size: 11px;
    -fx-text-fill: -color-fg-subtle;
}

.redemption-code .valid-label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 0 10px 0 0;
}

.redemption-code .description-label {
    -fx-font-size: 12px;
    -fx-text-fill: -color-fg-subtle;
}

.redemption-code .contributors-label {
    -fx-font-size: 11px;
    -fx-text-fill: -color-fg-subtle;
}

.redemption-code .copy-btn {
    -fx-padding: 2px;
}

.redemption-code .card {
    -fx-background-color: -color-bg-default-40;
    -fx-padding: 20px 24px 20px 24px;
    -fx-background-radius: 12px;
    -fx-border-radius: 12px;
    -fx-border-color: -color-border-default;
    -fx-border-width: 1px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.06), 12, 0, 0, 4);
}
