.game-record{
     -color-bg-default-90: #ffffff40;
 }
.game-record .update-tip{
    -fx-text-fill: -color-font-subtle;
}
.game-record .item{
    -fx-background-color: -color-bg-default-90;
    -fx-background-radius: 5;
    -fx-padding: 10;
}

.game-record .item .title{
    -fx-font-size: 16;
    -fx-text-fill: -color-font-muted;
}
.game-record .item .child{
    -fx-spacing: 10;
}
.game-record .item .child .tip{
    -fx-pref-width: 180;
    -fx-font-size: 16;
}
.game-record .item .child .num{
    -fx-font-size: 16;
}
