
.game-statistics .separator {
    -fx-padding: 6 0 6 0;
}
.game-statistics .separator > .line{
    -fx-border-color: #00000070;
    -fx-border-insets: 1px 0 0 0;
    -fx-border-width: 1px;
    -fx-padding: 0;
}
.game-statistics .child-select{
    -fx-background-color: transparent;
    -fx-text-fill: -color-font-muted;
    -fx-font-weight: bold;
    -fx-graphic-text-gap: 2;
    -fx-padding: 3;
    -fx-cursor: hand;
}
.game-statistics .child-select:hover{
    -fx-text-fill: -color-accent-fg;
}
.game-statistics .child-select > Pane{
    -fx-pref-width: 25;
    -fx-pref-height: 3;
    -fx-background-radius: 3px;
    -fx-background-color: transparent;
}


.game-statistics .toggle-button:selected > Pane{
    -fx-background-color: -color-accent-fg;
}


