
.text{
    -fx-font-smoothing-type: gray;
}


.combo-box-base{
    -fx-background-radius: 20;
    -fx-padding: 0 5 0 5;
    -fx-background-color: -color-bg-default-60;
}
.combo-box-base:showing{
    -fx-background-radius: 20 20 0 0;

}
.combo-box > .list-cell {
    -fx-background: transparent;
}

.combo-box-popup > .list-view {
    -fx-background-color: -color-bg-default-60;
    -fx-background-insets: null;
    -fx-border-color: transparent;

}
.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-background-color: -color-bg-default-40;
    -fx-border-color: transparent;
}
.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:hover {
    -fx-opacity: 0.8;
}


.jfx-dialog > StackPane{
    -fx-background-color: transparent;
}

.jfx-dialog-layout {
    -fx-text-fill: rgba(0, 0, 0, 0.87);
    -fx-background-radius: 10;
    -fx-padding: 10;
    -fx-background-color: -color-bg-default;
}


/*
.jfx-dialog-layout > .jfx-layout-body .label {
    -fx-text-fill: -color-bg-inset;
    -fx-font-size: 16.0;
    -fx-wrap-text: true;
}
*/
