
.title-bar{
    -fx-background-color: #f7f9fc;
    -fx-background-radius: 10;
}

.title-bar > .title-header{
    -fx-background-color: #f7f9fc;
    -fx-background-radius: 10 10 0 0;
}
.title-bar > .title-header > .left-header{
    -fx-background-radius: 10 0 0 0;
    -fx-background-color: #f0f3f6;
    -fx-pref-width: 180;
}
.title-bar > .title-header > .left-header >  .title{
    -fx-font-size: 18;
    -fx-text-fill: #737b89;
    -fx-font-weight: bold;
}

.title-bar > .title-header > .right-header  .button:hover,
.title-bar > .title-header > .right-header  .toggle-button:hover {
    -fx-background-color:#e4e8ec;
}

.title-bar > .title-header > .right-header  .button Region,
.title-bar > .title-header > .right-header  .toggle-button Region{
    -fx-background-color: #737b89;
    -fx-pref-width: 14;
    -fx-pref-height: 14;
    -fx-max-width: 14;
    -fx-max-height: 14;
}
.title-bar > .title-header > .right-header  .min-btn Region{
    -fx-background-color:#737b89;
    -fx-pref-height: 2;
    -fx-max-height: 2;
}
.title-bar > .title-header > .right-header  .full-btn{
    visibility: hidden;
}
.jfx-dialog > StackPane{
    -fx-background-color: transparent;
}

.jfx-dialog-layout {
    -fx-text-fill: rgba(0, 0, 0, 0.87);
    -fx-background-radius: 10;
    -fx-padding: 10;
    -fx-background-color: #ffffff;
}

.jfx-dialog-layout > .jfx-layout-heading {
    -fx-alignment: center-left;
    -fx-font-weight: BOLD;
    -fx-padding: 24 24 20 24;
    -fx-background-radius: 10 10 0 0;
    -fx-background-color: #ffffff;
}

.jfx-dialog-layout > .jfx-layout-actions {
    -fx-alignment: center-right;
    -fx-hgap: 8;
    -fx-padding: 8 8 8 8;
    -fx-background-radius: 0 0 10 10;
    -fx-background-color: #ffffff;
}

.jfx-dialog-layout > .jfx-layout-actions .jfx-button {
    -fx-pref-height: 36;
    -fx-max-height: 36;
    -fx-min-width: 64;
    -fx-padding: 8;
}

.jfx-dialog-layout > .jfx-layout-body {
    -fx-alignment: center-left;
    -fx-padding: 0 24 24 24;
    -fx-pref-width: 400;
}

.jfx-dialog-layout > .jfx-layout-body .label {
    -fx-text-fill: #757575;
    -fx-font-size: 16.0;
    -fx-wrap-text: true;
}
