.home{
    -color-bg-default-90: #ffffff90;
}



.home .menu-button.func-btn{
    -fx-background-radius: 20;
    -fx-background-color: -color-bg-default;
    -fx-padding: 0 5 0 5;
}
.home .button.func-btn{
    -fx-background-radius: 20;
    -fx-padding: 8 18 8 18;
    -fx-background-color: -color-bg-default;
}




.home .start-btn{
    -fx-background-radius: 20;
    -fx-padding: 8 18 8 18;
}

.home .refresh-btn{
    -fx-background-color: -color-bg-default-90;
}


.home .sign-label{
    -fx-text-fill: -color-danger-3;
    -fx-background-color: -color-bg-default-90;
    -fx-font-size: 14;
    -fx-padding: 5;
    -fx-background-radius: 5;

}
.game-time{
    -fx-background-color: -color-bg-default-90;
    -fx-background-radius: 5;
    -fx-padding: 10;

    -fx-pref-width: 280;
}

.game-time .detail{
    -fx-text-fill: -color-font-muted;
    -fx-font-size: 16;
    -fx-graphic-text-gap: 10;
}
.game-time .tip{
    -fx-text-fill: -color-font-subtle;
    -fx-font-size: 12;
}
.game-time .icon{
    -fx-icon-size:22;
}

.role{

}
.role .daily-data{
    -fx-background-color: -color-bg-default-90;
    -fx-background-radius: 5;
    -fx-padding: 10;

    -fx-pref-width: 280;
}
.role .daily-data .data-label-1{
    -fx-text-fill: -color-font-muted;
    -fx-font-size: 16;
    -fx-graphic-text-gap: 3;
}
.role .daily-data .data-label-2{
    -fx-text-fill: -color-font-subtle;
    -fx-font-size: 12;
}
.role .daily-data .progress-bar > .bar{
    -fx-background-color: #998f82;
    -fx-padding: 2px;
}
.role .daily-data .progress-bar > .track{
    -fx-background-color: #cfc6b2;
}

.role .role-data{
    -fx-background-color: -color-bg-default-90;
    -fx-background-radius: 5;
    -fx-padding: 10;

    -fx-pref-width: 280;
}
.role .role-data .data-label-1{
    -fx-text-fill: -color-font-muted;
    -fx-font-size: 20;
    -fx-font-weight: bold;

}
.role .role-data .data-label-2{
    -fx-text-fill: -color-font-subtle;
    -fx-font-size: 14;
}
.role .role-data .level{
    -fx-text-fill: -color-font-muted;
    -fx-font-size: 16;
    -fx-alignment: center-left;
    -fx-font-weight: bold;
}
.role .box-data{
    -fx-background-color: -color-bg-default-90;
    -fx-background-radius: 5;
    -fx-padding: 10;
    -fx-pref-width: 280;
}
.role .box-data .data-label-1{
    -fx-text-fill: -color-font-muted;
    -fx-font-size: 16;
    -fx-graphic-text-gap: 3;
}
.role .box-data .data-label-2{
    -fx-text-fill: -color-font-subtle;
    -fx-font-size: 12;
}