.home{

}

.home .menu-button.func-btn {
    -fx-background-radius: 1.4286em; /* 20px */
    -fx-background-color: -color-bg-default;
    -fx-padding: 0 0.3571em 0 0.3571em; /* 0 5px */
}

.home .button.func-btn {
    -fx-background-radius: 1.4286em; /* 20px */
    -fx-padding: 0.5714em 1.2857em 0.5714em 1.2857em; /* 8 18px */
    -fx-background-color: -color-bg-default;
}

.home .start-btn {
    -fx-background-radius: 1.4286em; /* 20px */
    -fx-padding: 0.6em 1em 0.6em 1em; /* 0.6em 1em */
}
.home .refresh-btn{
    -fx-background-color: transparent;
}

.home .refresh-btn:hover{
    -fx-background-color: -color-bg-default-90;
}





.home .role {
    -fx-pref-width: 20em; /* 20em */
    -fx-max-width: 20em;
}

.home .role .role-data,
.home .role .daily-data,
.home .role .box-data,
.home .game-time {
    -fx-background-color: -color-bg-default-90;
    -fx-background-radius: 0.3571em; /* 5px */
    -fx-padding: 0 0.7em 0 0.7em; /* 10px */
    -fx-pref-width: 20em; /* 20em */
    -fx-pref-height: 4.5em;
}


.home .role .role-data .data-label-1 {
    -fx-text-fill: -color-font-muted;
    -fx-font-size: 1.4286em; /* 20px */
    -fx-font-weight: bold;
}

.home .role .role-data .data-label-2 {
    -fx-text-fill: -color-font-subtle;
    -fx-font-size: 1em; /* 14px */
}

.home .role .role-data .level {
    -fx-text-fill: -color-font-muted;
    -fx-font-size: 1em; /* 16px */
    -fx-alignment: center-left;
    -fx-font-weight: bold;
}

.home .role .daily-data .data-label-1 {
    -fx-text-fill: -color-font-muted;
    -fx-font-size: 1.1429em; /* 16px */
    -fx-graphic-text-gap: 0.2143em; /* 3px */
}

.home .role .daily-data .data-label-2 {
    -fx-text-fill: -color-font-subtle;
    -fx-font-size: 0.8571em; /* 12px */
}

.home .role .daily-data .progress-bar > .bar {
    -fx-background-color: #998f82;
    -fx-padding: 0.1429em; /* 2px */
}

.home .role .daily-data .progress-bar > .track {
    -fx-background-color: #cfc6b2;
}

.home .role .box-data .data-label-1 {
    -fx-text-fill: -color-font-muted;
    -fx-font-size: 1.1429em; /* 16px */
    -fx-graphic-text-gap: 0.2143em; /* 3px */
}

.home .role .box-data .data-label-2 {
    -fx-text-fill: -color-font-subtle;
    -fx-font-size: 0.8571em; /* 12px */
}
.home .role .sign-label {
    -fx-text-fill: -color-danger-3;
    -fx-background-color: -color-bg-default-90;
    -fx-font-size: 1em; /* 14px */
    -fx-padding: 0.3571em; /* 5px */
    -fx-background-radius: 0.3571em; /* 5px */
}

.home .role .game-time .detail {
    -fx-text-fill: -color-font-muted;
    -fx-font-size: 1.1429em; /* 16px */
    -fx-graphic-text-gap: 0.7143em; /* 10px */
}

.home .role .game-time .tip {
    -fx-text-fill: -color-font-subtle;
    -fx-font-size: 0.8571em; /* 12px */
}

.home .role .game-time .icon {
    -fx-icon-size: 1em; /* 22px */
}