
.main-nav{
    -fx-background-color: -color-bg-subtle;
}
.main-nav .toggle-button,
.main-nav .button{
    -fx-background-color: transparent;
    -fx-font-size: 13;
    -fx-font-weight: bold;
    -fx-text-fill: -color-font-muted;
    -fx-background-radius: 10;
    -fx-graphic-text-gap: 15;
    -fx-padding: 7 10 7 10;
}
.main-nav .toggle-button .ikonli-font-icon{
    -fx-icon-color: -color-font-muted;
}
.main-nav .toggle-button:hover,
.main-nav .button:hover{
    -fx-background-color: -color-hover-muted;
}
.main-nav .toggle-button:selected .ikonli-font-icon{
    -fx-icon-color: -color-selected-default;
}
.main-nav .toggle-button:selected{
    -fx-background-color: -color-accent-fg;
    -fx-text-fill: -color-selected-default;
}

.split-pane .split-pane-divider,
.split-pane > .split-pane-divider > .horizontal-grabber{
    -fx-background-color: -color-bg-overlay;
}

