.sign{
    -color-bg-default-50: #ffffff50;
}
.sign .goods{
   /* -fx-border-color: -color-border-default;
    -fx-border-width: 3;
    -fx-border-radius: 5;*/
    -fx-background-color: -color-bg-default-50;
    -fx-background-radius: 5;
    -fx-padding: 5;

}
.sign .goods .name{
    -fx-background-color: -color-font-subtle;
    -fx-opacity: 0.7;
    -fx-background-radius: 5;
    -fx-text-fill: -color-font-default;
    -fx-alignment: center;
    -fx-pref-width: 60;
    -fx-pref-height: 20;
    -fx-font-size: 16;
}
.sign .goods .index{

}

.sign .goods .num{
    -fx-text-fill: -color-fg-subtle;
    -fx-font-size: 10;
}

.sign > .log,
.sign > .log:focused{
    -fx-background-color: transparent;
    -fx-background-insets: null;
}

.sign > .history{
   /* -fx-background-color: -color-bg-default;
    -fx-background-radius: 5;
    -fx-padding: 10;
    -fx-effect:dropshadow(three-pass-box, -color-border-muted,2,0.7,0,0);*/
}
.sign > .history > .list-view{
    -fx-background-color: transparent;
    -fx-background-radius: 10;
    -fx-border-color: transparent;
    -fx-padding: 0;

}

.sign > .history > .list-view .list-cell{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 8 10 8 10;
}

.sign > .history > .list-view .list-cell .label{
    -fx-font-size: 12;
}


