.list-view{
    -fx-background-color: -color-bg-default;
    -fx-background-radius: 10;
    -fx-border-color: transparent;
    -fx-padding: 10 0 0 10;
    -fx-effect:dropshadow(three-pass-box, -color-border-default,2,0.7,0,0);
}

.list-view .list-cell{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.list-view .list-cell .user-label{
    -fx-font-size: 12;
}

.list-view .list-cell .role-label{
    -fx-text-fill: -color-fg-subtle;
    -fx-font-size: 10;
}
.list-view .list-cell .delete-btn{
    -fx-padding: 2;
}



.goods{
    -fx-border-color: -color-border-default;
    -fx-border-width: 3;
    -fx-border-radius: 5;
}
.goods .name{
    -fx-background-color: -color-font-subtle;
    -fx-opacity: 0.7;
    -fx-background-radius: 5;
    -fx-text-fill: -color-font-default;
    -fx-alignment: center;
    -fx-pref-width: 60;
    -fx-pref-height: 20;
    -fx-font-size: 16;
}
.goods .index{

}

.goods .num{
    -fx-text-fill: -color-fg-subtle;
    -fx-font-size: 10;
}

.log,
.log:focused{
    -fx-background-color: -color-bg-overlay;
    -fx-background-insets: null;
}