.role-edit{

}

.role-edit .level-group{
    -fx-alignment: center;
}
.role-edit .level-group .skill-title{
    -fx-pref-width: 80;
}

.role-edit .level-group .skill-slider{
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.role-edit .level-group .skill-slider > .thumb {
    -fx-padding: 4;
}


.role-edit .level-group .skill-level{

}